.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section h3 {
  font-size: 16px;
  color: #828282;
}

.sectionSub {
  display: flex;
  background: #3d9cdb;
  border-radius: 4px;
  gap: 6px;
  padding: 6px;
}

.section p {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
