.navbar {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
  background: var(--primary-color);
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dashboard {
  gap: 50px;
}

.nav-items {
  color: var(--white-color);
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-items.active {
  background: var(--sky-blue-color);
  padding: 15px 25px;
  border-radius: 8px;
}

.nav-profile {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 1.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--purple-color);
  margin-bottom: 20px;
  color: black;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
}

.nav-prof-container {
  display: flex;
  margin-top: 12px;
}

.nav-prof-icon {
  width: 40px;
  height: 40px;
  background: var(--purple-color);
  border-radius: 50%;
  display: flex;
}

.nav-margin {
  margin-left: 20px;
}
