.event {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 10px;
}

.event h3 {
  color: #828282;
  font-size: 16px;
}

.eventCard {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 116px;
  max-width: 382px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  gap: 20px;
}

.image {
  width: 52px;
  height: 56px;
}

.eventImage {
  width: 52px;
  height: 56px;
  object-fit: fill;
  border-radius: 8px;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.title {
  color: var(--Gray-2, #4f4f4f);
  font-weight: 600;
}

.author {
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 10px;
}

.author p {
  color: var(--Gray-2, #4f4f4f);
}

.liveIcon p {
  color: #f31a1a;
  font-size: 16px;
}
