:root {
  --primary-color: #001c27;
  --sky-blue-color: #2d9cdb;
  --navy-blue-color: #06455e;
  --error-color: #dc2626;
  --text-color: #1f2937;
  --white-color: #ffffff;
  --purple-color: #bb6bd9;
  --light-grey-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', serif;
  color: var(--text-color);
  line-height: 1.6;
}

/* .main-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
} */
