:root {
  --primary-color: #001c27;
  --error-color: #dc2626;
  --text-color: #1f2937;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: var(--text-color);
  line-height: 1.6;
}
