:root {
  --primary-color: #001c27;
  --sky-blue-color: #2d9cdb;
  --navy-blue-color: #06455e;
  --error-color: #dc2626;
  --text-color: #1f2937;
  --white-color: #ffffff;
  --purple-color: #bb6bd9;
  --light-grey-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', serif;
  color: var(--text-color);
  line-height: 1.6;
}

.page-layout {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.content-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.statistics {
  padding: 8px;
}

@media (min-width: 600px) {
  .page-layout {
    height: 100%;
    min-height: 100vh;
    flex-direction: row;
  }

  .navbar {
    align-self: stretch;
  }

  .statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 295px;
  }

  .contents {
    display: flex;
    width: 100%;
  }

  .left-container {
    flex-grow: 1;
    padding: 10px;
  }

  .right-container {
    flex-grow: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .div-box {
    width: 100px;
    height: 100px;
  }
}
